{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ textPacked.title }}{% endblock title %}
{% block css_link %}
    <meta name="description" content="Рекламное агентство INDIGO. Разработка дизайна продукции, проектирование рекламы и многое другое..."/>
    <meta name="keywords" content="дизайн, стиль, разработка, сайты, видео" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link type="text/css" rel="stylesheet" href="{% static '/css/info.css' %}" />
{% endblock css_link %}


{% block header_title %}{{ textPacked.title }}{% endblock header_title %}

{% block content %}
            <div class='infoText' id="infoText">
                {{ textPacked.text|safe }}
            </div>
            <div class='wrapper' id="themeImg">
                <img class='ps' alt='ps' data-depth="0.3" src="{% static '/img/design/PS.png' %}">
                <img class='ai' alt='ai' data-depth="0.6" src="{% static '/img/design/AI.png' %}">
                <img class='cd' alt='cd' data-depth="0.9" src="{% static '/img/design/CD.png' %}">
            </div>
            <div class='btnBlock' id="btnBlock">
                <a onclick='javascript:history.back(); return false;'><i class='fa fa-arrow-left'></i> Назад</a>
                <a href="{% url 'price_Design' %}">Наши цены <i class="fas fa-ruble-sign"></i></a>
                <a href="{% static 'files/Brif_logo.pdf' %}">Скачать бриф  &nbsp;<i class="fas fa-file-image"></i></a>
            </div>
            <style>
                .wrapper {
                    position: fixed;
                    right: 5%;
                    top: 5%;
                    width: 30%;
                    align-items: center;
                }
        		.cd {
        			position: absolute;
                    margin-top: 65%;
                    margin-left: 30%;
                    width: 75%;
        		}
        		.ai {
        			position: absolute;
                    margin-top: 45%;
                    margin-left: 15%;
                    width: 75%;
        		}
        		.ps {
        			position: absolute;
                    margin-top: 25%;
                    margin-left: 1%;
                    width: 75%;
        		}
            </style>
{% endblock content %}
