{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ textPacked.title }}{% endblock title %}
{% block css_link %}
    <meta name="description" content="Рекламное агентство INDIGO. Все виды печати от визиток и книг, до баннеров и футболок"/>
    <meta name="keywords" content="типография, печать, полиграфия, тираж, визитки, флаера, доставка" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link type="text/css" rel="stylesheet" href="{% static '/css/info.css' %}" />
{% endblock css_link %}


{% block header_title %}{{ textPacked.title }}{% endblock header_title %}

{% block content %}
            <div class='infoText' id="infoText">
                {{ textPacked.text|safe }}
            </div>
            <div class='themeImg' id="themeImg">
                <img alt="magazine" data-depth="0.9" src="{% static '/img/press/magazine.png' %}">
            </div>
            <div class='btnBlock' id="btnBlock">
                <a onclick='javascript:history.back(); return false;'><i class='fa fa-arrow-left'></i> Назад</a>
                <a href="{% url 'price_Press' %}">Наши цены <i class="fas fa-ruble-sign"></i></a>
            </div>
            <style>
                .themeImg {
                    width: 35%;
                }
                .themeImg img {
                    width: 100%;
        		}
            </style>
{% endblock content %}
